/*
main color: #5ae1cd
*/

.mainBox {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
a, a:link, a:visited, a:hover {
	color: #5ae1cd!important;
	text-decoration: none!important;
}
a:hover {
	color: #5ae1cd!important;
	text-decoration: none!important;
}
.btn {
	cursor: pointer;
}

hr {
	height: 2px!important;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
	background: #00cee6; /* Old browsers */
	background: -moz-linear-gradient(left, #00cee6 0%, #5ae1cd 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00cee6 0%,#5ae1cd 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00cee6 0%,#5ae1cd 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cee6', endColorstr='#5ae1cd',GradientType=1 ); /* IE6-9 */
}
.color_primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
background: #00cee6; /* Old browsers */
background: -moz-linear-gradient(left, #00cee6 0%, #5ae1cd 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #00cee6 0%,#5ae1cd 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #00cee6 0%,#5ae1cd 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cee6', endColorstr='#5ae1cd',GradientType=1 ); /* IE6-9 */

	color: #000000!important;
}
.outline_primary {
	border-color: #5ae1cd!important;
	color: #5ae1cd!important;
}

.color_output {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
	background: rgb(118, 144, 161); /* Old browsers */
	background: -moz-linear-gradient(left, #4F6B7F 0%, #4F6B7F 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4F6B7F 0%,#4F6B7F 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4F6B7F 0%,#4F6B7F 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F6B7F', endColorstr='#4F6B7F',GradientType=1 ); /* IE6-9 */
	
	color: #000000!important;
}

.color_input {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
	background: #78a9ac; /* Old browsers */
	background: -moz-linear-gradient(left, #78a9ac 0%, #78a9ac 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #78a9ac 0%,#78a9ac 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #78a9ac 0%,#78a9ac 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78a9ac', endColorstr='#78a9ac',GradientType=1 ); /* IE6-9 */
	
	color: #000000!important;
}

.invisible {
	display: none!important;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#qrcode > img {
	border: 8px solid #ffffff;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.balanceBox {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00cee6+0,5ae1cd+98 */
	background: #00cee6; /* Old browsers */
	background: -moz-linear-gradient(left, #00cee6 0%, #5ae1cd 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00cee6 0%,#5ae1cd 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00cee6 0%,#5ae1cd 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cee6', endColorstr='#5ae1cd',GradientType=1 ); /* IE6-9 */

	color: #ffffff!important;
	text-align: center;

	border-radius: 5px;
	padding: 10px;
	/* box-shadow: 0px 0px 30px grey; */
}
.balanceBox > h3 {
	font-weight: 900;
}
